h4 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

.user {
  font-size: 20px;
}

.photo {
  text-align: center;
}

.photo img {
  height: 300px;
}


