#form {
    width: 70%;
    margin: 5% auto;
    background-color: #f6e2e2;
    padding: 20px;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    text-align: center;
}

#inputs {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    grid-row-gap: 10px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input.gender {
    width: 15px;
}

label {
    text-align: left;
    justify-content: center;
}

input.subscribe {
    width: 20px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: #8d8b8b 1px solid;
    padding: 10px;
}