.fruits {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
    padding: 10px 20px;
    background-color: gray;
    cursor: pointer;
}

.invisible {
    display: none;
}
img {
    width: 150px;
    height: 150px;
    float: left;
}