<div>
  <h3>Skills:</h3>
  <ul>
    <li *ngFor="let skill of skills.skill; let i = index;">{{ skill }}</li>
  </ul>
  <h3>Languages:</h3>
  <ul>
    <li *ngFor="let language of skills.language; let i = index;">{{ language }}</li>
  </ul>
  <h3 *ngIf="skills.knowledge">Knowledge:</h3>
  <ul *ngIf="skills.knowledge">
    <li *ngFor="let knowledge of skills.knowledge; let i = index;">{{ knowledge }}</li>
  </ul>
  <h3 *ngIf="skills.certificate">Certificate:</h3>
  <ul *ngIf="skills.certificate">
    <li *ngFor="let certificate of skills.certificate; let i = index;">{{ certificate }}</li>
  </ul>
</div>
