<div class="intervals">
  <div>
<label>Set color:
  <select #colorSelect (change)="setColor(colorSelect.value)">
    <option ng-selected="selected">{{ "select" }}</option>
    <option *ngFor="let color of arrColors" [value]="color">
      {{color}}
    </option>
  </select>
</label>
  </div>
  <div>
<label>Set interval:
<select #intervalSelect (change)="isChoice = true">
  <option ng-selected="selected">{{ "select" }}</option>
  <option *ngFor="let type of intervalType" [value]="type">
    {{type}}
  </option>
</select>
</label>
  </div>
<div *ngIf="isChoice">
  <label  id="apply">
    <input type="time" value="00:00" required="" #inputNew>
  </label>
  <button (click)="setInterval(inputNew.value, intervalSelect.value); intervalSelect.selectedIndex=0">Apply</button>
  <span class="error" *ngIf="isError">Input valid interval!</span>
</div>
</div>
<div id="timer" [style.background-color]="color" [style.border-color]="color">
  <div id="time">{{(timeLeft * 1000) | date: 'mm:ss'}}</div>
</div>
<div class="mainBtn">
<button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>
</div>
