#timer {
  color:black;
  font-size:50px;
  margin:10px auto;
  border : 5px solid;
  border-radius:50%;
  width:200px;
  height:200px;
  overflow:hidden;
  position:relative;
  user-select: none;
  cursor:default;
  text-align: center;
}

#time{
  margin-top:70px;
  z-index : 1;
  position:relative;
}

.intervals {
  display: inline-flex;
}

input {
  width: 50px;
}

.mainBtn {
  text-align: center;
  margin-top: 50px;
}

.mainBtn > button {
  padding: 5px;
  margin: 5px;
}

label {
  margin-right: 15px;
}

#apply {
  margin-right: 5px;
}
