<button *ngIf="ind === 0" (click)="setIndex(1)" class="btn">Start Quiz</button>
<div *ngIf="(ind > 0) && (ind <= count)">
  <div *ngFor="let question of questions; let i = ind;">
      <div *ngIf="question.id === ind">
        <h4>Вопрос № {{ question.id }}</h4>
        <h3>{{ question.text }}</h3>
        <label *ngFor="let variant of question.variants; let i = index;">
          <input type="radio" name="var" (change)="setResult(variant.bool)">
          {{variant.text}}
        </label>
      </div>
  </div>
</div>
<button *ngIf="(ind > 0) && (ind < count) && checked" (click)="saveResult(); setIndex(ind+1)" class="btn">Next</button>
<button *ngIf="(ind === count) && checked" (click)="saveResult(); getResults()" class="btn">Finish Quiz</button>
<div *ngIf="ind === -1">
  <div class="res">
    <p>Количество вопросов: {{ count }}</p>
    <p>Количество правильных ответов: {{ correct }}</p>
    <p>Количество неправильных ответов: {{ incorrect }}</p>
  </div>
  <button (click)="clearResults()" class="btn">Restart</button>
</div>
