<table>
  <tr>
    <td>
      <label for="lang">{{ "select.lang" | translate }}</label>
    </td>
    <td>
      <select id="lang" #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.defaultLang">{{ lang }}</option>
      </select>
    </td>
    <td>
      <label for="appColor">{{ "select.appColor" | translate }}</label>
    </td>
    <td>
      <select id="appColor">
        <option ng-selected="selected">Select...</option>
        <option *ngFor="let color of arrAppColors" [value]="color">
          {{color}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <label for="interval">{{ "select.interval" | translate }}</label>
    </td>
    <td>
      <select id="interval">
        <option ng-selected="selected">Select...</option>
        <option *ngFor="let interval of arrIntervals" [value]="interval">
          {{interval}}
        </option>
      </select>
    </td>
    <td>
      <label for="fontColor">{{ "select.fontColor" | translate }}</label>
    </td>
    <td>
      <select id="fontColor">
        <option ng-selected="selected">Select...</option>
        <option *ngFor="let color of arrFontColors" [value]="color">
          {{color}}
        </option>
      </select>
    </td>
  </tr>
</table>

