<table>
  <tr>
    <td>
      <label for="lang">{{ "names.lang" | translate }}</label>
    </td>
    <td>
      <select id="lang" #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.defaultLang">{{ lang }}</option>
      </select>
    </td>
    <td>
      <label for="appColor">{{ "names.appColor" | translate }}</label>
    </td>
    <td>
      <select id="appColor" #appColorSelect (change)="app.setAppColor(appColorSelect.value)">
        <option ng-selected="selected">{{ "select" | translate }}</option>
        <option *ngFor="let color of arrColors" [value]="color">
          {{"color." + color | translate}}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <label for="interval">{{ "names.interval" | translate }}</label>
    </td>
    <td>
      <select id="interval" #interval (change)="poem.setCustomInterval(interval.value)">
        <option ng-selected="selected">{{ "select" | translate }}</option>
        <option *ngFor="let interval of arrIntervals" [value]="interval">
          {{interval/1000 + ' c'}}
        </option>
      </select>
    </td>
    <td>
      <label for="fontColor">{{ "names.fontColor" | translate }}</label>
    </td>
    <td>
      <select id="fontColor" #fontColorSelect (change)="app.setFontColor(fontColorSelect.value)">
        <option ng-selected="selected">{{ "select" | translate }}</option>
        <option *ngFor="let color of arrColors" [value]="color">
          {{"color." + color | translate}}
        </option>
      </select>
    </td>
  </tr>
</table>

